{% extends 'base.html'%} {% block head_css %} {{ block.super }}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css"
/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.css" rel="stylesheet">

{%endblock%} {% block page_content %}
<div x-data="accounts()" class="flex flex-col p-4 lg:p-6">
  <div class="flex flex-row justify-between">
    <div class="text-sm breadcrumbs">
      <ul>
        <li>
          <a><h1 class="text-4xl font-bold my-2">Accounts</h1></a>
        </li>
        <li x-show="currentPage.id !== 1">
          <a>
            <h1 class="text-4xl font-bold my-2" x-text="currentPage.name"></h1
          ></a>
        </li>
      </ul>
    </div>

    <div x-cloak class="flex flex-row items-center">
      <div class="btn-group mr-3" x-show="currentPage.id !== 1">
        <button
          class="btn btn-xs lg:btn-sm btn-primary btn-outline"
          :class="currentPage.view== 'table' && 'btn-active' "
          @click="currentPage.view= 'table'"
        >
          table
        </button>
        <button
          class="btn btn-xs lg:btn-sm btn-primary btn-outline"
          :class="currentPage.view== 'charts' && 'btn-active' "
          @click="currentPage.view= 'charts'"
        >
          charts
        </button>
      </div>
      <button
        class="btn btn-xs lg:btn-sm"
        x-show="currentPage.id !== 1"
        @click="switchPage('home')"
      >
        Back
      </button>
    </div>
  </div>

  <div x-cloak x-show="currentPage.id===1" class="flex mt-10">
    <div class="w-1/3 xl:w-1/5 mr-10 card shadow lg:card-side bg-white">
      <div @click="switchPage('sales')" class="card-body">
        <h1 class="leading">Sales</h1>
        <div class="justify-end card-actions">
          <button class="btn btn-ghost shadow">
            Go
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="w-1/3 xl:w-1/5 mr-10 card shadow lg:card-side bg-white">
      <div @click="switchPage('costs')" class="card-body">
        <h1 class="leading">Costs</h1>
        <div class="justify-end card-actions">
          <button class="btn btn-ghost shadow">
            Go
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div
      class="w-1/3 xl:w-1/5 mr-1- card text-center shadow lg:card-side bg-white"
    >
      <div @click="switchPage('profit_loss')" class="card-body">
        <h1 class="leading">Profits Losss</h1>
        <div class="justify-end card-actions">
          <button class="btn btn-ghost shadow">
            Go
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div x-cloak x-show="currentPage.id=== 2">
    {% include "accounts/pages/sales.html" %}
  </div>

  <div id="output" style="height:500px"></div>


</div>

{% endblock %} {% block footer_js %} {{block.super}}
<script>
  const accountPages = {
    home: { name: "home", id: 1 },
    sales: {
      name: "Sales",
      id: 2,
    },
    costs: { name: "Costs", id: 3 },
    profit_loss: { name: "P&L", id: 4 },
  };
  function accounts() {
    return {
      currentPage: accountPages["home"],
      currentView: "",
      pages: accountPages,
      ui: {
        salesPivotLoaded: false
      },
      data: {
        dailySales: []
      },
      switchPage(key) {
        try {
          this.currentPage = this.pages[key];
          let salesData
          if(this.currentPage.id === 2 && !this.ui.salesPivotLoaded){
            console.log("fetch daily sales")
              $.get("/api/accounts/accounts/dailysales", function (data) {
                console.log(data);
                salesData = data
                return loadDailySalesPivot(data)
              });
              this.data.dailySales = salesData
          }

        } catch (e) {
          console.log(e);
        }
      },
    };
  }

  function loadDailySalesPivot(data) {
    console.info("loading pivot table data")
      $.pivotUtilities.tipsData = data;
      $("#output").pivotUI($.pivotUtilities.tipsData, {
        rows: [],
        cols: [],
        vals: [],
        aggregatorName: "Sum over Sum",
        rendererName: "Bar Chart",
        renderers: $.extend(
          $.pivotUtilities.renderers,
          $.pivotUtilities.plotly_renderers
        ),
      });
  }
</script>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/pivot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/plotly_renderers.min.js"></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"
></script>

<script>
  $(document).ready(function () {});
</script>
{% endblock %}
